.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Fix the error to top of page */
#error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
